USE [GameDefinition]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockKeyword](
	[KeyWord] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BlockKeyword] ([KeyWord]) VALUES (N'.co.kr')
INSERT [dbo].[BlockKeyword] ([KeyWord]) VALUES (N'.co.to')
INSERT [dbo].[BlockKeyword] ([KeyWord]) VALUES (N'.com')
GO
